/* Font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}

small{
    font-size: 16px;
}

.header-container{
    max-width: 1140px;
    height: 125px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container p{
    color: #0D1321;
    font-size: 1.8rem;
    font-weight: 700;
}

.header-container .head-btn{
    width: 228px;
    height: 58px;
    outline: none;
    border: 1px solid #0D1321;
    border-radius: 4px;
    background-color: #fff;
    color: #0D1321;
    font-size: 18px;
    font-weight: 500;
}

/********************* Banner  *********************/

.banner-container{
    background-image: url('assets/hero-bg.png');
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.text-container{
    max-width: 998px;
    margin: auto;
    text-align: center;
}

.text-container h1{
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: 700;
}

.contact-btn{
    width: 208px;
    text-align: center;
    color: #fff;
    background-color: #0D1321;
    outline: none;
    padding: 20px;
    border: none;
    border-radius: 7px;
    margin-top: 25px;
    font-size: 15px;
    font-weight: 500;
}

/* ***************** Why Web Development ****************** */

.web-dev-section{
    max-width: 1140px;
    margin: 50px auto;
    background-color: #0d13210b;
}

.dev-section-container{
    max-width: 946px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.dev-text{
    padding: 50px 0px;
    text-align: center;
}

.dev-text p{
    font-size: 32px;
    color: #0D1321;
    font-weight: 700;
    margin-bottom: 20px;
}



.box-cards{
    width: 100%;
    height: 336px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.box-text{
    width: 477px;
}
.box-text p{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.box-cards .box-btn{
    margin-top: 15px;
    padding: 15px 25px;
    border: 1px solid #0D1321;
    background-color: transparent;
    color: #0D1321;
    font-size: 15px;
    font-weight: 500;
}

/* *************** Inspiration ********************* */

.inspiration-container {
    width: 1140px;
    margin: 0 auto;
}
.video-container{
    width: 100%;
    margin-top: 60px;
    border: 1px solid #0d132119;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.video-container iframe{
    border-radius: 10px;
}

/* *************** My Current Target ********************* */

.target-container{
    width: 1140px;
    margin: 70px auto;
}

.tech-cards-container{
    width: 100%;
    margin-top: 50px;
    display: flex;
}

.tech-cards-container > :first-child{
 background-color: #ff4b1e19;
 border-radius: 15px;
}

.tech-cards-container > :nth-child(2){
    background-color: #004de81e;
    border-radius: 15px;
   }
.tech-cards-container > :nth-child(3){
    background-color: #ffdd0030;
    border-radius: 15px;
   }

.tech-cards{
    width: 33%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0px 10px;
}

.tech-cards img{
    width: 60px;
}

.tech-cards p{
    color: #0D1321;
    font-size: 24px;
}

.tech-cards a{
    color: #0D1321;
    font-size: 20px;
}

.need-support-sec{
    background-image: url('/assets/handshake.jpg');
    width: 1140PX;
    height: 314px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 13px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.need-support-sec p{
    font-size: 36px;
    font-weight: 700;
}

.for-mail input{
    width: 540px;
    height: 50px;
    padding: 0px 15px;
    border-radius: 7px;
    outline: none;
    border: none;
}

.for-mail .submit-btn{
    width: 120px;
    height: 52px;
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #121a2c0e;
    margin-top: 50px;
}